*{
    padding: 0;
    margin: 0;
  }
  
    body {
    background-image: url("https://images.pexels.com/photos/1542493/pexels-photo-1542493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    font-family:'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
   
  }
  
 
  
  .app {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color: white;
  }
  
  .input-header {
    width: 400px;
    height: auto;
    padding: 30px;
    background : transparent ;
    border: 2px solid ;
    border-bottom: 10px;
    backdrop-filter: blur(15px);
    color: #eee;
    text-align: center;
    margin-bottom: 36px;
}


    
  .to-do-input input {
    width: 250px;
    font-family: inherit;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    outline: none;
    
    
   
    
    
}     
  .to-do-input button {
    color:black;
    font-family: inherit;
    border: none;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }
  
  .to-do-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

  }
  
  .to-do-list i {
    color: black;
    cursor: pointer;
  }
  
  .to-do-list .fa-pen-to-square {
    color: #5b7065;
  }
  
  .to-do-list button {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap: 10px;
  }
  
  .input-controller textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: #e6b7eca1;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
  
  textarea:focus {
    box-shadow: 0 0 5px white;
  }
  
  .edit-controller {
    display: flex;
    gap: 5px;
  }
  
  .update-controller {
    display: none;
  }
  
  @media(max-width: 768px) {
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20%;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 300px;
    }
  
  }